* { margin: 0 ;padding: 0;}
.calendar{width:50%;margin:10px 0px 20px 0px;color:#555;position: relative;}
.calendar h4 {border-bottom: 2px solid #5bd999;text-align: center;font-size: 22px;font-weight: 700;margin-top: 10px;margin-bottom:0px;padding: 10px 0;}
.calendar button {position: absolute;width: 24px;height: 24px;top: 15px;border: none;}
.calendar button:focus { border: none;outline: none; }
.calendar button.month-less {left: 20px;background: url(../img/left-icon.png) no-repeat left -60px;}
.calendar button.month-add {right: 20px;background: url(../img/right-icon.png) no-repeat left -60px;}
.calendar .sign_tab{width: 100%;border-collapse: collapse;border: 1px solid #e8e8e8;border-top: 0;table-layout: fixed;}
.calendar .sign_tab th{text-align: center;height: 2.25rem;font-weight: 700;}
.calendar .sign_tab td{border: 1px solid #e8e8e8;height: 2.25rem;text-align: center;font-size: 0.8rem;font-family: arial;}
.calendar .sign_tab td.over{background-color: #fff;border-left: 0;border-right: 0;}
.calendar .sign_tab td.red_tbg{background-color: #f8f8f8;color: #58ce7a;position:relative;}
.red_tbg .ui-state-default {font-size: 0.6em;width: 100%;text-align: center; position: absolute;top:1.4rem;left: 0;}
.calendar .sign_tab td.cur_day{background-color: #FFD2D2;color: #FFF;}

.btn-red{
    position: absolute;
    top: 120px;
    right: 400px;
    border: none;
    background-color:#dd1b00;
    color:#fff;
    text-decoration:none;
}
.btn-red:hover{
    background-color:#f00;
    text-decoration:none;
    color:#fff;
}

